---
title: 'Introduction'
description: 'Start using uploadfast in your app'
---

# {title} 
Ship file uploads from your web app (and soon, mobile app) in record time.

```jsx
const Res = () => {
    return <div>Yes daddy</div>
}
```
