```js

<script>
  import { CreateUploadflyClient } from "@uploadfly/js";

  const file = ref(null)

  function handleFileChange(event) {
    file.value = event.target.files[0]
  }
  async function upload() {
    const
  }
</script>

<template>
  <div>
    <input type="file" @change="handleFileChange" />
    <button @click="handleUpload">Upload</button>
  </div>
</template>
```